.prices{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    position: relative;
    top: -280px;
    align-items: center;
}
.bg{
    background-color: #496ca1;
    padding: 20px;
    height: 500px;
    color: white;
    text-align: center;
}
.heading,.description{
    
    max-width: 0 auto;
}
.heading{
    text-transform: uppercase;
    margin-bottom: 20px;
}